.venv/
__pycache__/
.ipynb_checkpoints/
node_modules/
dist/
build/
data/
datasets/
*.csv
*.parquet
*.zip
.DS_Store
*.log
master_datasets/*
CLEAN PROJECT COMPRESSED/master_datasets/crime_datasets
CLEAN PROJECT COMPRESSED/master_datasets/housing_datasets
CLEAN PROJECT COMPRESSED/master_datasets/ml_datasets
CLEAN PROJECT COMPRESSED/master_datasets/school_datasets